<div class="form-group row">
    <div class="col-lg-offset-4 col-lg-3 col-sm-offset-4 col-sm-3">
        <div class="col-lg-12 col-sm-12">
            <div class="thumbnail">
                <img ng-src="{{editClient.client.photo || '/data/default/user.png'}}" alt="...">
            </div>
            <div class="input-group">
                <label for="photo-profile">Foto de perfil</label>
                <input id="photo" name="photo" ng-model="editClient.photo" type="file" name="photo-profile" id="photo-profile">
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-sm-12 pt-32">
        <div class="col-lg-4 col-sm-4">
            <div class="input-group">
                <span class="input-group-addon" id="name">Nombre</span>
                <input ng-model="editClient.client.name" type="text" class="form-control" placeholder="Nombre" aria-describedby="basic-addon1">

            </div>
        </div>
        <div class="col-lg-4 col-sm-4">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Apellidos</span>
                <input ng-model="editClient.client.subname" type="text" class="form-control" placeholder="Apellidos" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-lg-4 col-sm-4">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">DNI</span>
                <input ng-model="editClient.client.dni" type="text" class="form-control" placeholder="DNI" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-lg-offset-3 col-lg-3 col-sm-offset-3 col-sm-3 pt-32">
            <a href="#!/" class="btn btn-default btn-lg btn-block">Cancelar</a>
        </div>
        <div class="col-lg-3 col-sm-3 pt-32">
            <button ng-click="editClient.editClient()" class="btn btn-primary btn-lg btn-block">Confirmar</button>
        </div>
    </div>
</div>